<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__brand">
        <h2 class="footer__logo">Abeja Store</h2>
        <p class="footer__text">
          Moda simple, actual y cómoda para todos los días.
          Comprá fácil desde cualquier dispositivo.
        </p>
      </div>

      <div class="footer__links">
        <div class="footer__column">
          <h3>Navegación</h3>
          <a routerLink="/">Inicio</a>
          <a routerLink="/shop">Tienda</a>
          <a routerLink="/cart">Carrito</a>
          <a routerLink="/login">Ingresar</a>
        </div>

        <div class="footer__column">
          <h3>Categorías</h3>
          <a routerLink="/shop">Mujer</a>
          <a routerLink="/shop">Hombre</a>
          <a routerLink="/shop">Accesorios</a>
          <a routerLink="/shop">Ofertas</a>
        </div>

          <div class="footer__column">
            <h3>Contacto</h3>
            <a href="https://wa.me/5491100000000" target="_blank">WhatsApp</a>
            <a href="mailto:contacto@abejastore.com">contacto&#64;abejastore.com</a>
            <span>Buenos Aires, Argentina</span>
          </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p>© {{ currentYear }} Abeja Store. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>